* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,600&family=Lato:wght@300;400;700&display=swap');

}
body{
    background-color: beige;
}
.cabecalho {
    color: whitesmoke;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
}
h2 {
    font-size: large;
    color: darkgoldenrod
}
h3 {
    text-decoration:underline;
    color:rgb(145, 116, 0);
}
section {
    background-color: beige;
    border: 1px solid grey;
    border-radius: 20;
    box-shadow: 0 2px 12px gray;
}
section:hover {
    box-shadow: 0 6px 24px gray;
}
.conteudo {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
}
.ingredientes, preparo {
    flex:1;
}